body {
  background-color: #f9f9f9;
  font-family: 'Arial', sans-serif;
}

.container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-top: 100px;
}

.input-wrapper {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.password-toggle {
  cursor: pointer;
  font-size: 0.9em;
  color: #007BFF;
}

.password-wrapper {
  position: relative;
}

.password-wrapper input {
  padding-right: 60px; /* 오른쪽에 표시 텍스트 들어갈 공간 확보 */
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 0.9em;
  color: #007BFF;
  user-select: none;
}

